.hero {
  padding: 6rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.hero__heading {
  color: var(--clr-white-primary);
  font-size: 3rem;
  text-align: center;
  width: 70%;
}

.heading__name {
  color: var(--clr-orange);
}

.hero__paragraph {
  color: var(--clr-white-primary);
  font-size: 1.5rem;
  text-align: center;
  width: 60%;
  /* line-height: 2rem; */
}

.hero__img {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  box-shadow: -2px 2px 42px 7px rgba(255, 255, 255, 0.36);
  -webkit-box-shadow: -2px 2px 42px 7px rgba(255, 255, 255, 0.36);
  -moz-box-shadow: -2px 2px 42px 7px rgba(255, 255, 255, 0.36);
}

.btn {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--clr-orange);
  color: var(--clr-white-primary);
  padding: 1rem 2rem;
  border-radius: 6px;
  font-size: 1.5rem;
  transition: transform 0.3s;
  margin-left: 1rem;
}

.btn:hover {
  transform: translateY(-13px);
}

.projects {
  background-color: var(--clr-black-primary);
  border: 1px solid var(--clr-orange);
}

/* for 2xl  */
@media (max-width: 1536px) {
  .hero__heading {
    width: 90%;
  }
  .hero__paragraph {
    width: 90%;
  }
}

/* for xl   */
@media (max-width: 1280px) {
  .hero__heading {
    width: 100%;
    font-size: 2.8rem;
  }
}

/* for large */
@media (max-width: 1024px) {
  .hero__heading {
    font-size: 2rem;
  }

  .hero__paragraph {
    width: 100%;
    font-size: 1rem;
  }
}

/* for small */
@media (max-width: 640px) {
  .hero__img {
    width: 350px;
    height: 350px;
    border-radius: 100%;
  }

  .btn {
    font-size: 1rem;
  }
}

/* for extra small */
@media (max-width: 400px) {
  .hero {
    padding: 2rem 0rem;

    gap: 2rem;
  }

  .hero__heading {
    font-size: 1.5rem;
  }

  .hero__paragraph {
    width: 100%;
  }

  .hero__img {
    width: 250px;
    height: 250px;
  }

  .btn {
    margin-left: 0rem;
  }
}
