/* for 2xl  */
/* @media (max-width: 1536px) {} */

/* for xl  */
/* @media (max-width: 1280px) {} */

/* for large */
/* @media (max-width: 1024px) {} */

/* for medium */
/* @media (max-width: 768px) {} */

/* for small */
/* @media (max-width: 640px) {} */

/* for extra small */
/* @media (max-width: 400px) {} */

:root {
  --clr-dark-primary: #161513;
  --clr-dark-2: #1c1c22;
  --clr-white-primary: #ffffff;
  --clr-orange: #ff8a56;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}
html {
  scroll-behavior: smooth;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-dark-primary);
}

.container {
  max-width: 1536px;
  margin-inline: auto;
  padding-inline: 0.5rem;
}

/* for 2xl  */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* for xl   */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* for large */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* for medium */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* for small */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* for extra small */
@media (max-width: 400px) {
  .container {
    max-width: 100%;
  }
}
